{% extends 'base.html' %}

{% block title %}
<title> Blogs</title>
{% endblock title %}

{% block body %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Message</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
<h1 class="text-center my-3">Edit Blogs</h1>
<div class="container">
<form action='edit_post' method='POST'>
    {% csrf_token %}
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" placeholder="title" name="title" value="{{editblog.title}}">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Descriptions</label>
    <textarea class="form-control" id="Descriptions"  rows="3" name="description">{{editblog.des}}</textarea>
  </div>
  <input type='submit' value='Edit' class='btn btn-primary'>
</div>

</form>
{% endblock body %}